[submodule "perl"]
        path = perl
        url = https://github.com/tulanthoar/perl
[submodule "proj-euler"]
        path = proj-euler
        url = https://github.com/tulanthoar/proj-euler
[submodule "texgit"]
	path = texgit
	url = https://github.com/tulanthoar/texgit
[submodule "pyrep"]
	path = pyrep
	url = https://github.com/tulanthoar/pygit
